*/java/bin
*/java/.classpath
*/java/.project
*/java/*.class

amazing/java/amazing/.project
amazing/java/amazing/.settings/org.eclipse.jdt.core.prefs
amazing/java/amazing/.settings/org.eclipse.m2e.core.prefs
amazing/java/amazing/.classpath
